* {
  /* font-size: 16px; */
  font-family: "Space Grotesk", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-size: clamp(0.1rem, 2.5vmin, 1.5rem);
}

header {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: black;
  padding: 0.2rem;
  font-family: "Space Grotesk", sans-serif;
}

button {
  font-size: 1em;
}

#start {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85%;

  justify-content: space-between;
}

#words-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  font-size: 3.5em;
}

#word {
  display: flex;
  flex-direction: row;
  /* font-size: 300%; */
}

#past-word {
  color: black;
}

#input-text {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 2px;
  width: 6em;
  border-style: solid;
  border-color: plum;
  text-align: center;
  font-size: 1em;
}

#input-text:focus {
  outline: none;
  text-align: center;
  font-size: 1em;
}

#user-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  height: fit-content;
  padding-bottom: 1em;
}

#input-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

#game-end-win {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
}

.typed-words {
  /* display: flex;
  flex-direction: row; */
  /* font-size: 300%; */
  text-align: center;
}

.blue-letter {
  color: blue;
}

.red-letter {
  color: red;
}

.purple-letter {
  color: purple;
}

.alert-container {
  position: fixed;
  top: 30vh;
  left: 50vw;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alert {
  font-family: "Space Grotesk", sans-serif;
  pointer-events: none;
  background-color: hsl(204, 7%, 85%);
  padding: 0.75em;
  border-radius: 0.25em;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
  margin-bottom: 0.5em;
  text-align: center;
}

.alert:last-child {
  margin-bottom: 0;
}

.alert.hide {
  opacity: 0;
}
