* {
  /* -webkit-text-stroke: 2px black; */
  font-size: 16px;
  font-family: "Space Grotesk", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  font-size: 300%;
  color: black;
  padding: 2rem;
  font-family: "Space Grotesk", sans-serif;
}

#start {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#objective-words {
  font-size: 200%;
}

#game {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  height: 70vh;
}

#words-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70%;
}

#word {
  display: flex;
  flex-direction: row;
  font-size: 300%;
}

#past-word {
  color: black;
}

#input-text {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 2px;
  width: 70px;
  border-style: solid;
  border-color: plum;
  text-align: center;
}

#input-text:focus {
  outline: none;
  text-align: center;
}

#user-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  height: 30%;
}

#input-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

#game-end-win {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
}

.typed-words {
  /* display: flex;
  flex-direction: row; */
  font-size: 300%;
  text-align: center;
}

.correct-letter {
  color: plum;
}

.past-word {
  color: red;
}

.alert-container {
  position: fixed;
  top: 30vh;
  left: 50vw;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alert {
  font-family: "Space Grotesk", sans-serif;
  pointer-events: none;
  background-color: hsl(204, 7%, 85%);
  padding: 0.75em;
  border-radius: 0.25em;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
  margin-bottom: 0.5em;
  text-align: center;
}

.alert:last-child {
  margin-bottom: 0;
}

.alert.hide {
  opacity: 0;
}
