* {
  /* -webkit-text-stroke: 2px black; */
  font-size: 16px;
  font-family: "Space Grotesk", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  font-size: 300%;
  color: black;
  padding: 2rem;
  font-family: "Space Grotesk", sans-serif;
}

#start {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#objective-words {
  font-size: 200%;
}

#game {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#word-box {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 4rem;
}

#word {
  display: flex;
  flex-direction: row;
}

.typed-words {
  display: flex;
  flex-direction: row;
}
